<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
 <title>Home</title>
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
 <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
</head>
<body>
 <div class="container">
 <th:block th:include="layout/header"></th:block>
  <h2 align="center">Hello <span th:utext="${userName}"></span>,Welcome to the Admin DashBoard</h2>
  <div class="row text-center">
              <p style="text-align:center" ><img src="../../static/images/GREEN-SMILE-00.png" width="30%" height="50%"
                     th:src="@{/images/GREEN-SMILE-00.png}" /></p>
  </div>     
 </div>
</body>
</html>